<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ufo Appearance Prediction!</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
</head>
<body>
        <div class="grid">
            <div class="box">
                <p>According to the number of seconds,latitude and ...</p>
                <form action="{{url_for('predict.predict')}}" method="POST">
                    
                    <input type="number" name="seconds" placeholder="Seconds" required="required" min="0">
                    <input type="text" name="latitude" placeholder="Latitude" required="required">
                    <input type="text" name="longtitude" placeholder="Longtitude" required="required">
                    <button type="submit" class="btn">Predict country where the UFO is seen</button>
                </form>

                <p>{{prediction_text}}</p>
            </div>
        </div>
</body>
</html>